body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:host {
  background-color: blue;
}

.panel {
  margin: 100px 100px 0 100px;
}

.mar20-10 {
  margin: 10px 0 10px 20px;
}

.h-300 {
  min-height: 300px;
}

.w-63p {
  width: 63%;
}

.w-35p {
  width: 35%;
}

.ver-mid {
  vertical-align: middle;
}

.mar-l-20 {
  margin-left: 20px;
}

.border-full {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

.mar-t-5 {
  margin-top: 5px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.user-form {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.tag {
  position: absolute;
  margin: 1px 0 0 0;
  border-radius: 4px;
  background: #fff;
  border: solid 1px #e6e6e6;
  padding: 10px;
  line-height: 22px;
  width: 48.8%;
}

.scoll {
  overflow: auto;
}

.mar-l-5 {
  margin-left: 5px;
}

.tag-content {
  float: right;
}

.btn-tag {
  background: #34b44a;
  color: white;
  width: 60px !important;
}

.btn-tag::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .6em;
  margin-top: -.2em;
  vertical-align: middle;
  content: "";
  border-top: .5em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}

.list-tag {
  border: solid 1px #e6e6e6;
  background: white;
  position: absolute;
  margin: 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  margin-top: 1px;
  height: 500px;
  overflow: auto;
}

.row-tags {
  border-bottom: dotted 1px #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.selected {
  background: #e8f5e9;
}

.pointer {
  cursor: pointer;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.w-68p {
  width: 68%;
}

.pad-10 {
  padding: 10px;
}

.row-tags input {
  padding: 4px 5px;
  border-radius: 4px;
  border: solid 1px #ececec;
  margin-right: 4px;
}

.w-input-tag {
  width: 136px;
}

.tags {
  padding: 2px 6px;
  background: #46b749;
  margin-top: 6px;
  font-size: 12px;
  color: white;
  border-radius: 4px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-name {
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title-tab {
  color: black;
  font-size: 14px;
  width: 70px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
}

.company-name,
.desc-tab {
  color: #999999;
  font-size: 14px;
  margin-top: 6px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.desc-tab {
  padding-bottom: 10px;
}

.mar-r-5 {
  margin-right: 5px;
}

.header {
  background: #34b44a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.search-bg {
  background: #f7f7f7;
  border: solid 1px #e6e6e6;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.input-search {
  background: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid rgba(120, 130, 140, .13);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-add-tag {
  background: #f0f0f0;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  border: none;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 260px;
}

.tag-name {
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.w-60p {
  width: 60%;
}

.pull-right {
  float: right;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 44px;
  cursor: pointer;
  padding: 1px 0px;
  font-size: 12px;
  border-radius: 4px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-red {
  background: #ec0d27;
  color: white;
}

.btn-green {
  background: #34b44a;
  color: white;
}

.btn-gray {
  background: white;
  color: #444444;
  border: solid 1px #e6e6e6;
}

.w-62p {
  width: 62%;
}

label {
  display: inline-block;
}

.green {
  background-color: #4caf50;
  color: rgba(255, 255, 255, .87);
}

.mar-b10 {
  margin-bottom: 10px;
}

.mdl-layout__content,
.mdl-layout__header-row {
  padding: 0 30px 0 30px;
}

.icons {
  color: white;
}

.notification-icon {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: -5px;
}

.mdl-textfield__input {
  color: #000;
}

.mdl-menu__container {
  right: 100px;
}

.mdl-menu {
  padding: 0;
}

.contact-list .mdl-list__item {
  min-height: 100px;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
}

.mdl-button--raised {
  min-width: 100px;
}

.searchbox {
  max-width: 50vw;
  width: 50vw;
}

@media screen and (max-width: 750px) {
  .contact-list {
    max-height: 40vh;
  }
  .mdl-layout__content {
    padding: 0 5px 0 5px;
  }
  .contact-icon {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .contact-list {
    max-height: 85vh;
  }
}

.contact-list {
  overflow: hidden;
  overflow-y: scroll;
}

span.job-title {
  display: block;
}

.contact-list .mdl-list__item:hover {
  background-color: #CBE1FF;
}

.contact-list .mdl-list__item.selected {
  background-color: #E0EFFF;
}

div.contact-icon {
  height: 100%;
  margin-right: 10px;
}

table.contact-info {
  margin-top: 22px;
  width: 100%;
  border: none;
  font-size: 16px;
}

.contact-info-label {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 0.5em 0;
  color: #555;
}

.contact-info-text {
  color: #4f6fad;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 5px;
  margin: 10px 10px 5px 0;
}

.tag-list-box {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-bottom: 20px;
}

.tag-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.delete-btn {
  color: #FF5B59;
}

.taglist-footer-row {
  padding: 0;
  display: flex;
  margin: auto;
  width: 90%;
  align-items: center;
}

.taglist-close-btn {
  padding-bottom: 10px;
}

.taglist-close-btn button {
  margin: auto;
}

.taglist-footer-row.mdl-textfield {
  padding-bottom: 0;
}

.unread,
.chip,
.tag-list .mdl-list__item:hover {
  background-color: #f1f1f1
}

.mdl-button:hover {}

.show {
  display: block;
}

.mdl-badge[data-badge]:after {
  width: 18px;
  height: 18px;
  font-size: 11px;
}

.mdl-button .mdl-badge[data-badge]:after {
  top: -5px;
  right: -5px;
}

.mdl-menu {
  padding: 10px !important;
  border: solid 1px #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
}

.mdl-menu__item {
  height: 36px;
  line-height: 36px;
  background-color: transparent !important;
  font-size: 13px !important;
}

.unread {
  background-color: transparent !important;
  font-weight: bold;
}