<div class="panel">
  <!--search-->
  <div class="header">
    <input class="w-62p input-search" type="text" placeholder="Search by Name, Company or #Tag" value="{{search}}" (input)="searchText(notSearch, $event.target.value)" />
    <button mdl-button #notifBtn="mdlButton" class="notification-icon" (click)="notifTray.toggle($event, notifBtn)" mdl-button-type="icon">
      <mdl-icon class="icons" [hidden]="unreadNotificationCount() < 1" [mdl-badge]="unreadNotificationCount()" mdl-badge-overlap>notifications</mdl-icon>
      <mdl-icon class="icons" [hidden]="unreadNotificationCount() > 0">notifications_none</mdl-icon>
    </button>
    <mdl-menu #notifTray="mdlMenu" mdl-menu-position="bottom-right">
      <mdl-menu-item *ngFor="let notification of notifications.slice().reverse()" (click)="notification.read = true;" [class.unread]="!notification.read" mdl-menu-item-full-bleed-divider>{{ notification.message }}</mdl-menu-item>
      <mdl-menu-item [hidden]="notifications.length > 0" disabled>No Notifications</mdl-menu-item>
    </mdl-menu>
    <div class="tag" *ngIf="isTag">
      <div>
        <div class="pointer" *ngFor="let tag of listCTags" (click)="notSearch=true; searchTag(tag.TagID)">{{tag.Name}}</div>
      </div>

    </div>

  </div>

  <div class="mar-t-5">
    <!--list user-->
    <div class="w-60p h-300 border-full float-l">
      <div *ngFor="let p of list">
        <div class="{{selectUser&&p.ContactID==selectUser.ContactID?'pointer user-form selected':'pointer user-form'}}">
          <div class="pull-right">
            <div class="pointer btn btn-tag" (click)="setTag(p.ContactID); editId=null; $event.stopPropagation();">TAGS</div>
            <div class="list-tag" *ngIf="tagId == p.ContactID" (window:mouseup)="closetag($event)">

              <div *ngFor="let t of tags" class="pointer row-tags">
                <div *ngIf="t!=null">
                  <label class="md-check">
                    <input type="checkbox" [checked]="checkX(p.CTags,t)" (change)=" $event.stopPropagation();addTag(p, t);">
                    <i class="green"></i>
                  </label>
                  <div (click)="addTag(p, t); $event.stopPropagation();" *ngIf="editId!=t.TagID" class="tag-name">
                    {{t.Name}}
                  </div>
                  <input class="w-input-tag" type="text" *ngIf="editId==t.TagID" value="{{t.Name}}" (input)="tmp_tag=$event.target.value">
                  <div class="pull-right">
                    <div *ngIf="editId==t.TagID" class="btn btn-green" (click)=" $event.stopPropagation(); saveTag(tmp_tag, t.TagID)">
                      save
                    </div>
                    <div *ngIf="editId!=t.TagID" class="btn btn-green" (click)=" $event.stopPropagation(); editId=t.TagID;">
                      edit
                    </div>
                    <div *ngIf="editId!=t.TagID" class="btn btn-red" (click)=" $event.stopPropagation(); deleteTag(t.TagID)">
                      delete
                    </div>

                    <div *ngIf="editId==t.TagID" class="btn btn-gray" (click)=" $event.stopPropagation(); editId=null;">
                      cancel
                    </div>

                  </div>
                </div>

              </div>
              <input class="input-add-tag" placeholder="Add Tag and press Enter" value="{{newTag}}" (change)="addNewTag($event.target.value)">
            </div>
          </div>
          <div (click)="setUser(p)">
            <div class="pointer" class="user-name">{{(p.FirstName!=null?p.FirstName:'') +' '+ (p.SureName?p.SureName:'')}}</div>
            <div class="company-name">{{p.JobTitle + ' of '+ p.CompanyName}}</div>
            <div *ngIf="p.CTags">
              <template ngFor let-tagt [ngForOf]="p.CTags">
                <div class="pointer" *ngIf="(tagt!=null)" class="inline tags mar-r-5">
                  {{tagt.Name}}
                </div>
              </template>
            </div>


          </div>


        </div>

      </div>
    </div>
    <!--detail-->
    <div class="w-35p h-300 border-full float-r">
      <div *ngIf="selectUser" class="pad-10">

        <div class="user-name pad-b-10">{{(selectUser.FirstName?selectUser.FirstName:'') +' '+ (selectUser.SureName?selectUser.SureName:'')}}</div>
        <table>
          <tbody>
            <tr>
              <td class="title-tab">
                Phone:
              </td>
              <td class="desc-tab">
                {{selectUser.Phone}}
              </td>
            </tr>
            <tr>
              <td class="title-tab">
                Email:
              </td>
              <td class="desc-tab">
                {{selectUser.Email}}
              </td>
            </tr>
            <tr>
              <td class="title-tab">
                LinkedIn:
              </td>
              <td class="desc-tab">
                {{selectUser.LinkedIn}}
              </td>
            </tr>
            <tr>
              <td class="title-tab">
                Skype:
              </td>
              <td class="desc-tab">
                {{selectUser.Skype}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>